<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yzh.dao.ECSurfaceMapper">
  <resultMap id="BaseResultMap" type="yzh.model.ECSurface">
    <!--@mbg.generated-->
    <!--@Table huanjingqixiang.ECSurface-->
    <id column="stationID" property="stationid" />
    <id column="Datetime" property="datetime" />
    <id column="validTime" property="validtime" />
    <id column="fcstLevel" property="fcstlevel" />
    <result column="Tmax" property="tmax" />
    <result column="Tmin" property="tmin" />
    <result column="Rain" property="rain" />
    <result column="TEM" property="TEM" />
    <result column="PRS" property="PRS" />
    <result column="WIU10" property="WIU10" />
    <result column="WIV10" property="WIV10" />
    <result column="DPT" property="DPT" />
  </resultMap>
  <sql id="Base_Column_List">
    stationID, `Datetime`, validTime, fcstLevel, TEM,Tmax, Tmin, Rain, PRS, WIU10, WIV10, DPT
  </sql>


  <select id="countByDatetimeAndTmaxIsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and Tmax is not null
  </select>
  <select id="GetStationsByType" resultType="yzh.数值预报处理.环境气象.站点信息">
    SELECT * FROM Stations WHERE Type = #{Type} order by ID asc
  </select>
  <select id="countByDatetimeAndTminIsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and Tmin is not null
  </select>

  <select id="countByDatetimeAndRainIsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and Rain is not null
  </select>
  <insert id="insert_ECSurface"  parameterType="java.util.List">
    insert into ECSurface
    ( stationID, Datetime, validTime, fcstLevel,${Type})
    values
    <foreach collection="dataList" item="item" index="index" separator=",">
      (
      #{item.stationID},
      #{item.Datetime},
      #{item.validTime},
      #{item.level},
      #{item.ysValue}
      )
    </foreach>
    on duplicate key update
    ${Type}=values(${Type})
  </insert>

<!--auto generated by MybatisCodeHelper on 2021-05-31-->
  <delete id="deleteByDatetimeBefore">
    delete from huanjingqixiang.ECSurface
    where `Datetime` <![CDATA[<]]> #{maxDatetime}
  </delete>

<!--auto generated by MybatisCodeHelper on 2021-06-03-->
  <select id="findAllByDatetimeAndValidtimeGreaterThanAndValidtimeLessThanOrEqualTo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and validTime <![CDATA[>]]> #{minValidtime} and validTime <![CDATA[<=]]>
    #{maxValidtime}
  </select>


<!--auto generated by MybatisCodeHelper on 2021-06-03-->
  <select id="findAllByDatetimeAndValidtimeInOrderByValidtime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and validTime in
    <foreach item="item" index="index" collection="validtimeCollection"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    order by validTime asc
  </select>

<!--auto generated by MybatisCodeHelper on 2021-06-16-->
  <select id="countByDatetimeAndTEMIsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and TEM is not null
  </select>

<!--auto generated by MybatisCodeHelper on 2021-06-16-->
  <select id="countByDatetimeAndWIU10IsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and WIU10 is not null
  </select>

<!--auto generated by MybatisCodeHelper on 2021-06-16-->
  <select id="countByDatetimeAndWIV10IsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and WIV10 is not null
  </select>

<!--auto generated by MybatisCodeHelper on 2021-06-16-->
  <select id="countByDatetimeAndPRSIsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and PRS is not null
  </select>

<!--auto generated by MybatisCodeHelper on 2021-06-16-->
  <select id="countByDatetimeAndDPTIsNotNull" resultType="java.lang.Integer">
    select count(1)
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and DPT is not null
  </select>

<!--auto generated by MybatisCodeHelper on 2021-06-16-->
  <select id="findAllByDatetimeAndValidtime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from huanjingqixiang.ECSurface
    where `Datetime`=#{datetime} and validTime=#{validtime}
  </select>
</mapper>