<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="checkBlobColumn" value="true" />
        <option name="javaMapperPackage" value="yzh.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="yzh.model" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelTrimString" value="true" />
        <option name="lastDatabaseCrudChooseModuleName" value="呼市气象台java处理" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddEqualHashCode" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="呼市气象台java处理">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="yzh.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="yzh.model" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="E:\cx\java\hsqxtJavaCL\src\main\resources\" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="huanjingqixiang:Stations">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="Stations" />
                  <option name="moduleName" value="呼市气象台java处理" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="huanjingqixiang:cuaceHeigh">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="CuaceHeigh" />
                  <option name="moduleName" value="呼市气象台java处理" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="huanjingqixiang:cuaceSurface">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="CuaceSurface" />
                  <option name="moduleName" value="呼市气象台java处理" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useSwagger" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="E:\cx\java\hsqxtJavaCL\src\main\resources\" />
      </ProjectProfile>
    </option>
  </component>
</project>